/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
JLGREENE COLORS
*********************/

$plum: 				#970076; /*  this was the original value Open gave: #9c1a87. Doesn't seem to match the Pantone color */
$dark-blue:			#2d4f9e;
$warm-gray:			#9e9da0;
$light-gray:		#c0b8b0;

/*********************
DEFAULT BONES COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

/* $light-gray:        #f8f9fa; */
$gray:              #eaedf2;
$text-color:        $black;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$nav-link-color:	$light-gray;
$nav-link-hover:	$white;
$link-color:        $warm-gray;
$link-hover:        $plum;

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;


/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
