/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
JLGREENE COLORS
*********************/
/*  this was the original value Open gave: #9c1a87. Doesn't seem to match the Pantone color */
/*********************
DEFAULT BONES COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* $light-gray:        #f8f9fa; */
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
WEBTYPE FONTS
*********************/
/*********************
PARAGRAPH SPACING
*********************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .menu ul li {
      /*
      plan your menus and drop-downs wisely.
      */ }
      .menu ul li a {
        /*
        you can use hover styles here even though this size
        has the possibility of being a mobile device.
        */ }

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */ }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/*********************
FLEXSLIDER STYLES
*********************/
/* overwriting some styles from /plugins/wp-better-attachments/assets/css/wpba-frontend.css */
.home .flexslider .flex-next, .project .flexslider .flex-next {
  right: 10px; }
.home .flexslider .flex-prev, .project .flexslider .flex-prev {
  left: 10px; }
.home .flexslider:hover .flex-next, .project .flexslider:hover .flex-next {
  opacity: 0.8;
  right: 10px; }
.home .flexslider:hover .flex-prev, .project .flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 10px; }
.home .flexslider .flex-control-nav, .project .flexslider .flex-control-nav {
  top: 80%; }
.home .flexslider .flex-control-paging li a, .project .flexslider .flex-control-paging li a {
  width: 13px;
  height: 13px; }

/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
body {
  font-size: 18px; }

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 760px; }

.projects-grid .t-1of2, .projects-grid .d-1of2 {
  clear: both; }
.projects-grid .t-1of2.last-col, .projects-grid .d-1of2.last-col {
  clear: none; }

/*********************
HEADER STYLES
*********************/
.header {
  display: block !important;
  /* At this screen size the Menufication menu disappears */
  /* show the menu on larger screens */
  letter-spacing: 0.0625em; }
  .header .header-right {
    display: block; }

/*********************
NAVIGATION STYLES
*********************/
.header {
  font-family: Antenna, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  padding: 1em 0 0 0.75em; }
  .header .nav {
    margin-bottom: 1.5em; }

.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav ul {
    margin-top: 0; }
  .nav li {
    float: left;
    position: relative;
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */ }
    .nav li a {
      color: #c0b8b0;
      border-bottom: 1px solid #970076;
      padding: 0;
      margin-right: 0.33em;
      font-size: 1.1em;
      line-height: 1;
      letter-spacing: -.75px;
      /*
      you can use hover styles here even though this size
      has the possibility of being a mobile device.
      */ }
      .nav li a:hover, .nav li a:focus {
        color: white; }
    .nav li:last-child a {
      margin-right: 0; }
    .nav li:nth-child(n+2) {
      background-image: url(/wp-content/themes/jlgreene/library/images/bullet.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      padding-left: 0.6em; }
    .nav li ul.sub-menu,
    .nav li ul.children {
      margin-top: 0;
      padding: 1em 1em 0.5em 1em;
      border-top: 1.5em solid #970076;
      background: #9e9da0;
      position: absolute;
      visibility: hidden;
      z-index: 8999;
      /* highlight sub-menu current page */ }
      .nav li ul.sub-menu li,
      .nav li ul.children li {
        background: none;
        padding-left: 0;
        margin-bottom: .5em;
        width: 300px;
        line-height: 1;
        /*
        if you need to go deeper, go nuts
        just remember deeper menus suck
        for usability. k, bai.
        */ }
        .nav li ul.sub-menu li a,
        .nav li ul.children li a {
          color: white;
          font-size: 1em;
          padding-left: 0;
          display: inline-block;
          /* need this to get the underline to run under text only, not entire element */
          border-bottom: 1px solid #9e9da0; }
          .nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus,
          .nav li ul.children li a:hover,
          .nav li ul.children li a:focus {
            color: #970076; }
        .nav li ul.sub-menu li ul,
        .nav li ul.children li ul {
          top: 0;
          left: 100%; }
    .nav li:hover > ul {
      top: auto;
      visibility: visible; }
  .nav li.current-menu-item a,
  .nav li.current_page_item a {
    color: white;
    border-bottom: 1px solid white; }

/* end .nav */
/* sticky header plugin tweaks */
#thsp-sticky-header {
  -webkit-box-shadow: 0px 9px 10px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 9px 10px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 9px 10px 0px rgba(50, 50, 50, 0.4); }
  #thsp-sticky-header #thsp-sticky-header-inner {
    width: 760px;
    /* make this the same as the .wrap width! */
    margin: auto;
    padding-right: .5em; }
    #thsp-sticky-header #thsp-sticky-header-inner #thsp-sticky-header-menu {
      /* highlight current page */
      /* end current highlighters */ }
      #thsp-sticky-header #thsp-sticky-header-inner #thsp-sticky-header-menu li {
        margin: 0 0 0 0 !important; }
        #thsp-sticky-header #thsp-sticky-header-inner #thsp-sticky-header-menu li a {
          font-size: 1.2em; }
        #thsp-sticky-header #thsp-sticky-header-inner #thsp-sticky-header-menu li:nth-child(n+2) {
          background-image: url(/wp-content/themes/jlgreene/library/images/bullet-sm.png);
          background-repeat: no-repeat;
          background-position: 0 8px;
          padding-left: .5em; }
      #thsp-sticky-header #thsp-sticky-header-inner #thsp-sticky-header-menu li.current-menu-item a,
      #thsp-sticky-header #thsp-sticky-header-inner #thsp-sticky-header-menu li.current_page_item a {
        color: white !important;
        border-bottom: 1px solid white;
        line-height: 20px; }
  #thsp-sticky-header #thsp-sticky-header-menu {
    font-family: Antenna, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold; }
  #thsp-sticky-header a:hover, #thsp-sticky-header a:focus {
    color: white !important; }

/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content blockquote,
.entry-content .quote {
  padding: 2px 0 0 0; }

/* home page */
.home .entry-content .quote {
  padding: 3px 0 0 0; }
.home .article-footer {
  margin-bottom: 2em;
  /* latest news */ }
  .home .article-footer .latest-news .news-wrapper {
    /* using method from http://alistapart.com/d/creating-intrinsic-ratios-for-video/example2.html */
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0; }
    .home .article-footer .latest-news .news-wrapper .news-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .home .article-footer .latest-news .news-wrapper .news-thumbnail img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%; }

.blog {
  /* fixing spacing in case bottom of photo extends close to footer */ }
  .blog .entry-content {
    padding: 0.5em 0 0 0;
    margin-top: 0; }
    .blog .entry-content p {
      margin: 0;
      width: 70%; }
  .blog .footer {
    margin-top: 3em; }

/* about page */
.page-about .entry-content, .page-template-page-about-php .entry-content {
  padding-top: .5em; }
  .page-about .entry-content .the-content p, .page-template-page-about-php .entry-content .the-content p {
    width: 70%; }

/* project page */
.project h1.tagline, .project h2.tagline {
  margin-left: 30%;
  padding-left: 0.375em; }

/* history page */
.page-history .article-header .page-title, page-template-page-history-php .article-header .page-title {
  margin-left: 30%; }
.page-history .entry-content, page-template-page-history-php .entry-content {
  padding-top: 0; }
  .page-history .entry-content .the-content p, .page-history .entry-content .the-content div + p, page-template-page-history-php .entry-content .the-content p, page-template-page-history-php .entry-content .the-content div + p {
    margin-left: 30%;
    margin-top: 1em; }
  .page-history .entry-content .the-content p.first, page-template-page-history-php .entry-content .the-content p.first {
    margin-left: 30%;
    margin-top: .5em; }
  .page-history .entry-content .the-content .alignleft, page-template-page-history-php .entry-content .the-content .alignleft {
    max-width: 30%;
    padding-right: 1em; }
  .page-history .entry-content .the-content p.wp-caption-text, page-template-page-history-php .entry-content .the-content p.wp-caption-text {
    margin-left: 0;
    margin-top: 0; }

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 2.2em; }

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

.widget {
  padding: 0 10px;
  margin: 2.2em 0; }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */ }

/* end .footer-links */
/*********************
FLEXSLIDER STYLES
*********************/
/* overwriting some styles from /plugins/wp-better-attachments/assets/css/wpba-frontend.css */
.home .flexslider:hover .flex-next, .project .flexslider:hover .flex-next {
  opacity: 0.8;
  right: 20px; }
.home .flexslider:hover .flex-prev, .project .flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 20px; }
.home .flexslider .flex-control-nav, .project .flexslider .flex-control-nav {
  top: 82%; }
.home .flexslider .flex-control-paging li a, .project .flexslider .flex-control-paging li a {
  width: 13px;
  height: 13px; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 0;
    left: -36px; }

  .flex-direction-nav .flex-next {
    opacity: 0;
    right: -36px; } }
/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.wrap {
  width: 1030px; }

body {
  font-size: 22px; }

#thsp-sticky-header #thsp-sticky-header-inner {
  width: 1030px; }

.nav li:nth-child(n+2) {
  background-image: url(/wp-content/themes/jlgreene/library/images/bullet.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-left: 0.6em; }

/* sticky header plugin tweaks */
#thsp-sticky-header #thsp-sticky-header-inner {
  width: 1030px;
  /* make this the same as the .wrap width! */ }
  #thsp-sticky-header #thsp-sticky-header-inner #thsp-sticky-header-menu li {
    font-size: .9em;
    margin: 0 0 0 .2em !important; }
    #thsp-sticky-header #thsp-sticky-header-inner #thsp-sticky-header-menu li a {
      font-size: 1em; }
    #thsp-sticky-header #thsp-sticky-header-inner #thsp-sticky-header-menu li:nth-child(n+2) {
      background-image: url(/wp-content/themes/jlgreene/library/images/bullet.png);
      background-repeat: no-repeat;
      background-position: 0 3px;
      padding-left: .75em; }

/*********************
FLEXSLIDER STYLES
*********************/
/* overwriting some styles from /plugins/wp-better-attachments/assets/css/wpba-frontend.css */
.home .flexslider .flex-control-nav, .project .flexslider .flex-control-nav {
  top: 83%; }

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
