/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1030px;
}

body {font-size: 22px;}

#thsp-sticky-header {
	#thsp-sticky-header-inner {
		width: 1030px;
	}
}

.nav {	
	li {
		a {
		}

		&:nth-child(n+2) {
			background-image: url(/wp-content/themes/jlgreene/library/images/bullet.png);
			background-repeat: no-repeat;
			background-position: 0 0;
			padding-left: 0.6em;
		}
	}
}

/* sticky header plugin tweaks */
#thsp-sticky-header {	

	#thsp-sticky-header-inner {
		width: 1030px; /* make this the same as the .wrap width! */

		#thsp-sticky-header-menu {

			li {
				font-size: .9em;
				margin: 0 0 0 .2em !important;

				a {font-size: 1em;}

				&:nth-child(n+2) {
					background-image: url(/wp-content/themes/jlgreene/library/images/bullet.png);
					background-repeat: no-repeat;
					background-position: 0 3px;
					padding-left: .75em;
				}

				ul.sub-menu {
					top: 48px;
				}
			}
		}
	}
}	


/*********************
FLEXSLIDER STYLES
*********************/

/* overwriting some styles from /plugins/wp-better-attachments/assets/css/wpba-frontend.css */
.home, .project {
	.flexslider {

		.flex-control-nav {
			top: 83%;
		}
	}
}