/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 960px;
}

#thsp-sticky-header {
	#thsp-sticky-header-inner {
		width: 960px;
	}
}
