/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 1240px;
}

#thsp-sticky-header {
	#thsp-sticky-header-inner {
		width: 1240px;
	}
}