/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: Super-Duper Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 1040px;
}