/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: Super-Duper Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 1920px;
}

#thsp-sticky-header {
	#thsp-sticky-header-inner {
		width: 1920px;
	}
}

/*********************
FLEXSLIDER STYLES
*********************/

/* overwriting some styles from /plugins/wp-better-attachments/assets/css/wpba-frontend.css */
.home, .project {
	.flexslider {
	
	}
}