/******************************************************************
Site Name: JLGreene.org
Author: W.J. Levay

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	@include ibis;
	font-size: 16px;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  -webkit-font-smoothing: antialiased;
}

/* All bold type should be in Antenna. The Boldsans class is a legacy class that can be applied via the Tiny MCE Format selector. The WebType fonts are called from the _mixins.scss file */
strong, .boldsans-lg {
	@include antenna;
	font-size: 1.125em;
}

.hide {display: none;}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	@include antenna;
	color: $link-color;
	text-decoration: none;
	font-size: 1em;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	@include antenna;
	text-rendering: optimizelegibility;
	color: $plum;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.25em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h1.tagline, h2.tagline {
	@include ibis;
}

h3, .h3 {
	font-size: 1.25em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	display: none !important; /* need to hide header if we're using the Menufication plugin */
	background-color: $plum;
	-webkit-box-shadow: 1px 1px 12px 0px rgba(51, 56, 34, 0.3);
	-moz-box-shadow: 	1px 1px 12px 0px rgba(51, 56, 34, 0.3);
	box-shadow: 		1px 1px 12px 0px rgba(51, 56, 34, 0.3);
	
	/* hide the menu on mobile devices */
	.header-right {display: none;}
}

	.logo {
		margin: 1em 0;
	}

/* Menufication plugin tweaks */
#menufication-nav li a, 
#menufication-non-css3-nav li a {
	text-transform: none !important;
	font-family: Antenna, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-style: normal;
	font-weight: bold;
	color: $warm-gray;
}

#menufication-top, 
#menufication-non-css3-top {
	background: #970076 !important;
	-webkit-box-shadow: 1px 1px 12px 0px rgba(51, 56, 34, 0.3) !important;
	-moz-box-shadow: 	1px 1px 12px 0px rgba(51, 56, 34, 0.3) !important;
	box-shadow: 		1px 1px 12px 0px rgba(51, 56, 34, 0.3) !important;

	#menufication-header-logo,
	#menufication-non-css3-header-logo {
		padding-left: 1em;
	}
}

#menufication-nav li.menufication-active-class>a, #menufication-non-css3-nav li.menufication-active-class>a {
	color: $white;
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

/* STICKY HEADER PLUGIN */

#thsp-sticky-header {
	li {
		display: none;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
}

		.hentry {
			background-color: $white;
			margin-bottom: 1.5em;

			header {
				/*padding: 0;*/
			}

			footer {
				padding: 0;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.page-title {
			@include ibis;
			margin: .25em 0;
		}

		.single-title {
			@include ibis;
			margin: .5em 0 1em;
		}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding-top: 1.5em;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote, 
			.quote {
				margin: 0;
				padding: 0;
				color: $plum;
				font-size: .8em;

				p {}

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.8em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.post-thumbnail {

			a {line-height: 1;}

			/* images inside post-thumbnail */
			img {
				max-width: 100%;
				height: auto;
				vertical-align: bottom;
			}
		}

		.wp-caption {
			max-width: 100%;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				text-align: left;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

	/* homepage stuff */
	.home {
		.hentry {
			margin-bottom: 0;
		}

		.entry-content {
			padding-top: 0;

			.tagline {
				font-size: 1.5em;
				margin-top: 0;
				margin-bottom: 1em;
			}
		}

		/* latest news */
		.latest-news {

			.news-thumbnail {
				img {
					max-width: 100%;
					height: auto;
				}

				.news-title {
					margin-top: 0;
					line-height: 1.25;

					a {
						@include ibis;
						font-size: 80%;
						margin: 0.5em 0 0;
						color: black;
					}
				}
			}
		}

	} /* end .home */

	/* project stuff across all pages */
	.project-title {
		margin: 0.5em 0 0;
		line-height: 1;
	}

	/* project page stuff */
	.single-project {

		.article-header {
			.post-thumbnail {
				margin-top: 1.5em;

				.thumbnail-caption {
					margin-top: .5em;
					font-size: $caption-size;
				}
			}

			.tagline {
				margin-top: 1em;
				margin-bottom: 0;
			}
		}

		.the-content {
			p {margin: 0;}
			@include graf-spacing;
		}

		/* related projects */
		.rel-project {

			margin-bottom: 2em;

		}
	}

	/* project category page */
	.tax-project_cat,
	.post-type-archive-project {

		.archive-title {
			margin-top: .25em;
			p {margin: 0;}
		}

		.projects-grid {
			padding-top: 1.5em;
		}
		
		/* a single project */
		.project {

			margin-bottom: 2em;

		}
	}

	/* news page */
	.blog {

		.hentry {
			&:before {
				content: "";
				display: block;
				height: 2em;
				margin-top: -2em;
			}
		}

		.article-header {

			.entry-title {}

			.post-thumbnail {
				display: table;
				margin-top: 1em;

				img {width: 100%;}

				.thumbnail-caption {
					margin-top: .5em;
					font-size: $caption-size;
					display: table-caption;
					caption-side: bottom;
				}
			}
		}

		.entry-content {
			padding-top: 1em;

			.the-content {
				@include graf-spacing;

			}
		}
	}

	/* about page & history page */
	.page-about, .page-template-page-about-php,
	.page-history, .page-template-page-history-php {

		.entry-content {
	
			.the-content {

				h3 {
					@include ibis;
				}
				p + h3 {margin-top: 2em;}

				.wp-caption {margin: 1.5em 0;}

				p.wp-caption-text {
					margin: initial;
					font-size: 0.833em;
				}

				@include graf-spacing;
			}
		}
	}


/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $footer-gray;
	font-size: 0.8em;
	color: white;
	padding: 1em 0;
	margin-top: 3em;

	a {
		color: white;
		text-decoration: none;
	}

	p.address {
		margin-top: 0;
		font-weight: normal;
		word-spacing: -1px;
		a {
			@include ibis;
			font-weight: normal;
			font-size: inherit;
		}
	}

	.logo {
		margin-bottom: 0;
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}


/*********************
FLEXSLIDER STYLES
*********************/

/* overwriting some styles from /plugins/wp-better-attachments/assets/css/wpba-frontend.css */
.home, .project {
	.flexslider {
		margin: 1.5em 0 1em 0;
		border: 0;
		position: relative;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;

		.slide-wrapper {
			/* using method from http://alistapart.com/d/creating-intrinsic-ratios-for-video/example2.html */
			position: relative;
			padding-bottom: 56.25%; /* 16:9 aspect ratio */
			height: 0;

			.slide-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: $slide-background;

				img {
					width: auto;
					max-width: 100%;
					height: auto;
					max-height: 100%;
					margin: 0 auto;
				}
			}
		}

		p.caption-text {
			font-size: $caption-size;
			margin-top: .5em;
		}

		.flex-direction-nav {
			a {
				background-image: url(/wp-content/themes/jlgreene/library/images/bg_direction_nav.png);
			}
		}

		&:hover {
			.flex-next {opacity:0.8;right:0}
			.flex-prev {opacity:0.8;left:0}
		}

		.flex-control-nav {
			height: 0;
			bottom: 33%;
		}

		.flex-control-paging {
			li {
				a {
					width: 13px;
					height: 13px;
					background: none;
					box-shadow: inset 0 0 3px $plum;
				}

				a.flex-active {background: $plum;}
			}
		}
	}
}
